<footer class="opt3">
    <div class="social">
      <ul id="" class="">
        <li>
          <a
            target="_blank"
            href="https://pebblehurstgolfsociety.com/default.aspx?p=TrackHyperlink&URL=https%3a%2f%2fwww.facebook.com%2fpebblehurst&ssid=112365561898&fid=14201933158"
            ><i class="fa-brands fa-square-facebook"></i>Facebook</a
          >
        </li>
        <li class="" id="">
          <a
            target="_blank"
            href="https://pebblehurstgolfsociety.com/default.aspx?p=TrackHyperlink&URL=https%3a%2f%2ftwitter.com%2fpebblehurst&ssid=112365685477&fid=14201933158"
            ><i class="fa-brands fa-twitter"></i>Twitter</a
          >
        </li>
        <li class="" id="">
          <a
            target="_blank"
            href="https://pebblehurstgolfsociety.com/default.aspx?p=TrackHyperlink&URL=https%3a%2f%2fwww.instagram.com%2fpebblehurst%2f&ssid=112365809056&fid=14201933158"
            ><i class="fa-brands fa-instagram"></i>Instagram</a
          >
        </li>
      </ul>
    </div>
    <div>
      <ul>
        <li>
          <i class="fa-solid fa-location-dot"></i><a href="https://goo.gl/maps/F6kgQWpcFRDvRMsGA" target="_blank"
            >2915 Linden Ave. Homewood, AL 35209</a
          >
        </li>
        <li>
          <i class="fa-solid fa-phone"></i>Phone:
          <a href="tel:+12054901122">(205) 490-1122 </a>
        </li>
        <li>
          <i class="fa-solid fa-envelope"></i><a
            href="https://pebblehurstgolfsociety.com/Default.aspx?p=dynamicmodule&pageid=26&ssid=100052&vnf=1"
            >Contact Us</a
          >
        </li>
      </ul>
    </div>
    <div>
      © 2024 Pinhigh Golf Society. Site by
      <a
        target="_blank"
        href="https://www.clubessential.com?pageRef=dJt0sQNU1nJm286a6QzYPKA6MlDIVcmdo6d28itz82iPMtTRETKU7sUMeHNtFh9nCIWj%2bY0KZYOApRFl0%2bkOCSzWq9MEQkdv33skyTDQU%2fIYiA5oivlgTQ%3d%3d"
        >AprilWilliams</a
      >
    </div>
  </footer>