<header class="masthead">
  <div class="container">
    <div class="masthead-heading text-uppercase"></div>
    <!-- <a class="btn btn-primary btn-xl text-uppercase" href="#">Discover more</a> -->
  </div>
</header>
<div id="main" class="container">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <h1>Contact Us</h1>
      <h3>Map & Directions</h3>
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <p>
            Pinhigh Golf Society<br />
            <a href="https://goo.gl/maps/F6kgQWpcFRDvRMsGA" target="_blank"
              >2916 Linden Ave<br />
              Homewood, AL 35209</a
            ><br />
            <a href="tel:+12054901122" target="_blank">(205) 490-1122</a>
          </p>
          <p>
            <a class="abut" routerLink="/faq">Frequently Asked Questions</a>
          </p>
          <br />
          <br />
        </div>
        <div class="col-sm-8 col-xs-12">
          <div class="google-maps">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d428.1755695919706!2d-86.79273164517821!3d33.478213769012235!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x888919a370809ea1%3A0xabaad5d740614e70!2sPebblehurst%20Golf%20and%20Putter%20Lab!5e0!3m2!1sen!2sus!4v1681490302312!5m2!1sen!2sus"
              width="600"
              height="450"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <hr />
  <div class="row justify-content-center">
    <div class="col-10 col-lg-6">
      <h3 style="text-align: center">Contact Pinhigh Golf Society</h3>
      <div>
        <form>
          <div class="form-group row">
            <label for="firstName" class="p-0">First Name</label>
            <input
              type="text"
              class="form-control"
              id="firstName"
              aria-describedby="firstName"
            />
          </div>
          <div class="form-group row">
            <label for="lastName" class="p-0">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="lastName"
              aria-describedby="lastName"
            />
          </div>
          <div class="form-group row">
            <label for="email" class="p-0">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="form-group row">
            <label for="phoneNumber" class="p-0">Phone Number</label>
            <input
              type="text"
              class="form-control"
              id="phoneNumber"
              aria-describedby="phoneNumber"
            />
          </div>
          <div class="form-group row">
            <label for="help" class="p-0">How can we help you?</label>
            <textarea
              class="form-control"
              id="help"
              aria-describedby="help"
              rows="3"
            >
            </textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
