button.abut {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    color: #000;
    background-color: #e4cd9e;
    background-image: none;
    border: 2px solid #e4cd9e;
    border-radius: 0;
    padding: 10px;
    margin: 0;
    display: inline-block;
    width: auto;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.dropdown-menu{
    border-radius: 0px;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.dropdown-item{
    font-size: 16px;
}