<nav class="navbar navbar-expand-lg" id="mainNav">
    <div class="container">
      <a class="navbar-brand" routerLink="/"
        ><img src="./../assets/phlogo.png" alt="..."
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        Menu
        <i class="fas fa-bars ms-1"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/membership">Membership</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/book">Book</a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Book
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/book">Book</a></li>
              <li><a class="dropdown-item" routerLink="/reservation">My Reservations</a></li>
              <li *ngIf="adminUser"><a class="dropdown-item" routerLink="/admin-res">All Reservations</a></li>
            </ul>
          </li>
          <li *ngIf="adminUser" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Members
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/registration">Add Member</a></li>
              <li><a class="dropdown-item" routerLink="/members">All Members</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a *ngIf="!userAuthenticated" class="nav-link" routerLink="/login">Member Login</a>
          </li>
          <li *ngIf="userAuthenticated" class="nav-item">
            <!-- <a *ngIf="userAuthenticated" class="nav-link" routerLink="/" (click)="logout()">Logout</a> -->
            <button class="abut mt-0" type="submit" style="margin-top:10px" (click)="logout()">Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>