.container{
    margin: auto;
    min-height: 50rem;
    display: flex;
    justify-content: center;
}

.center{
    text-align: center;
}


.login-wrap {
    padding: 40px;
    width: 100%;
    max-width: 430px;
    margin: 0 auto;
    border: solid #EAEAEA 2px;
    border-radius: 4px;
}

.login-instruct{
    text-align: center;
    padding-bottom: 17px;
}

.form-floating {
    margin-bottom: 10px;
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.form-signin input[type="password"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

label{
    font-size: initial;
}

.form-control{
    border-radius: 0px;
    border: 2px solid #e4cd9e;
}

.form-control:focus{
    box-shadow: none;
}

button, button:hover{
    background-color: #e4cd9e;
    color: black;
    border: none;
}

.form-check-input[type=checkbox]{
    border-radius: 0%;
    border-color: #e4cd9e;
}

.form-check-input:focus {
    border-color: #e4cd9e;
    outline: 0;
    box-shadow: none;
}

.form-check-input:checked{
    background-color: #e4cd9e;
}

.form-control{
    min-height: 50px;
    font-size: 1.5rem;
}

.btn{
    font-size: 1.5rem;
}

a{
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration: pointer;
}

button:disabled{
    background-color: lightgray;
}

.form-floating > .form-control:not(:placeholder-shown){
    padding-top: 2.5rem;
}