<header class="masthead">
  <div class="">
    <div class="masthead-heading text-uppercase"></div>
  </div>
</header>

<div id="" class="container">
  <div class="row align-content-center">
    <div class="col-lg-10">
        <div class="card">
            <div class="card-body p-md-5">
              <div class="center">
                <i class="fa-solid fa-circle-check"></i>
                <br/>
                <br/>
                <h4 class="center">SUCCESS!</h4>
                <p class="text-muted pb-2 center">
                  Your payment has been processed successfully!
                </p>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
