.container{
    margin: auto;
    padding: 5rem;
    min-height: 50rem;
    display: flex;
    justify-content: center;
    /* background-color: #EAEAEA; */
}

p {
    margin: 0 0 1.88em;
}

.center{
    text-align: center;
}

i{
    color: #7FDA95;
    font-size: xxx-large;
}