<header class="masthead">
  <div class="container">
    <div class="masthead-heading text-uppercase"></div>
    <!-- <a class="btn btn-primary btn-xl text-uppercase" href="#">Discover more</a> -->
  </div>
</header>
<div class="container">
  <div class="row justify-content-center">
    <div class="col col-md-8 px-xl-0">
      <h1 class="">Our Club</h1>
      <h3>Inside Pinhigh Golf Society</h3>
      <p>
        Functionally like our favorite clubs, but convenient and contemporary,
        PGS offers an exclusive yet inviting retreat in the heart of Homewood,
        where you can squeeze in a quick round during lunch, host a social
        gathering or business meeting, grab an afterwork drink, or work on your
        yardages in private. Whether you’re a single-digit handicap or simply
        have a passion for the game, Pinhigh Golf Society provides a
        weatherproof setting for play and practice.
      </p>
      <h3>Welcome to Pinhigh Golf Society in Homewood.</h3>
      <p>
        So, what makes Pinhigh Golf Society stand out from other clubs? In
        our private facility, we provide you with the tools you need to improve
        your golf skills, play courses from around the country on our
        top-of-the-line simulators, practice your putting on our indoor
        electronic putting green, and enjoy our lounge area that’s complete with
        shuffleboard, games table, beverage center and more.
      </p>
      <p>
        With three GCHawk simulators installed–which use infrared sensing,
        highspeed camera data technology, and precision like no other–you will
        experience an accurate, immersive game on the golf course indoors. In
        our short game area, we have an indoor PuttView<sup>TM</sup> putting
        green where you can track your performance and better your short game.
        This technology scans our synthetic green area, projecting ball
        tracking, contours, the ideal lines for aim, and more to refine your
        technique with real-time data.
      </p>
      <p>
        We have built our club to not only cater to your golf needs but also to
        promote the build of long lasting relationships within its members. The
        staff and its members at Pinhigh Golf Society strive to build a
        unique collection of relationships between one another that share a
        passion for the game and history of golf. The community of Birmingham
        offers exquisite relationship opportunities that we strive to bring
        together through our club members. Joining our Society will bring you
        not only the best in indoor golf but also a new level of relationships
        to grow with you in your personal and professional lives.
      </p>
      <p>
        Pinhigh Golf Society is unique from other clubs because of its
        numerous features–all under one roof. Welcome to The Pinhigh Golf
        Society.
      </p>
    </div>
  </div>
</div>
