<header class="masthead">
  <div class="">
    <div class="masthead-heading text-uppercase"></div>
    <!-- <a class="btn btn-primary btn-xl text-uppercase" href="#">Discover more</a> -->
  </div>
</header>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <h2>All reservations are listed below:</h2>
      <div class="row">
        <div class="col p-0">
          <mat-form-field color="accent" appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input
              (dateInput)="OnDateChange($event.value)"
              matInput
              [matDatepicker]="picker1"
            />
            <mat-datepicker-toggle matSuffix [for]="picker1">
            </mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="showTable" class="row">
        <div class="col p-0">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Bay #</th>
                <th scope="col">Member</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let t of fullTimeslots">
                <th scope="row">{{t.timeslot.date}}</th>
                <td>{{t.timeslot.startTime}}</td>
                <td>{{t.timeslot.bay}}</td>
                <td>{{t.user.firstname}} {{t.user.lastname}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
