<header class="masthead">
  <div class="">
    <div class="masthead-heading text-uppercase"></div>
    <!-- <a class="btn btn-primary btn-xl text-uppercase" href="#">Discover more</a> -->
  </div>
</header>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <h1>Book</h1>
      <h2>Reserve a Simulator</h2>
      <p>
        Before anyone can play at our club, you must have a waiver filled out.
      </p>
      <p><a class="abut" href="#">Waiver</a></p>
      <ul *ngIf="!userAuthenticated">
        <li>
          *Not a member? Please
          <a routerLink="/registration">click here</a>
        </li>
        <li>
          Already a member? Please
          <a routerLink="/login">click here</a>
          to login and book a simulator bay!
        </li>
      </ul>
      <app-bookings *ngIf="userAuthenticated"></app-bookings>
    </div>
  </div>
</div>
