<!-- Masthead-->
<header class="masthead">
  <div class="container">
    <div class="masthead-heading text-uppercase">PINHIGH GOLF SOCIETY</div>
    <a class="btn btn-primary btn-xl text-uppercase" href="#">Discover more</a>
  </div>
</header>
<div class="intro container" id="main">
  <div class="row justify-content-center">
    <div class="col col-md-8 px-xl-0">
      <!-- Begin Mini-Page 20020 -->
      <div id="mpDiv20020" class="mpContent">
        <h1>Welcome to PinHigh Golf Society</h1>
        <h6>A Private Club in Cullman</h6>
        <p>
          In our private facility, we provide you with the tools you need to
          improve your golf skills, play courses from around the country on our
          top-of-the-line simulators, practice your putting on our indoor
          electronic putting green, and enjoy our lounge area that’s complete
          with shuffleboard, games table, beverage center and more.
        </p>
      </div>

      <!-- End Mini-Page 20020 -->
    </div>
  </div>
</div>
<div class="card-deck">
  <div class="row row-cols-1 row-cols-md-2 mb-3 bg-image hover-zoom">
    <div class="col-lg-6">
      <a routerLink="/about" class="url-box">
        <figure class="newsCard news-Slide-up">
          <img src="../../../assets/golf-course.jpeg" />
          <div class="newsCaption px-4">
            <div
              class="d-flex align-items-center justify-content-between cnt-title"
            >
              <h3 class="newsCaption-title text-white m-0">Our Club</h3>
              <i class="fas fa-arrow-alt-circle-right"></i>
            </div>
            <div class="newsCaption-content d-flex">
              <p class="col-10 py-3 px-0">Click here to learn more about our club.</p>
            </div>
          </div>
          <span class="overlay"></span>
        </figure>
      </a>
    </div>
    <div class="col-lg-6">
        <a routerLink="/membership" class="url-box">
          <figure class="newsCard news-Slide-up">
            <img src="../../../assets/golf-course.jpeg" />
            <div class="newsCaption px-4">
              <div
                class="d-flex align-items-center justify-content-between cnt-title"
              >
                <h3 class="newsCaption-title text-white m-0">Membership</h3>
                <i class="fas fa-arrow-alt-circle-right"></i>
              </div>
              <div class="newsCaption-content d-flex">
                <p class="col-10 py-3 px-0">Click here to learn more about our membership.</p>
              </div>
            </div>
            <span class="overlay"></span>
          </figure>
        </a>
      </div>
  </div>
  <div class="row mb-3">
    <div class="col">
        <a routerLink="/contact" class="url-box">
          <figure class="newsCard news-Slide-up">
            <img src="../../../assets/golf-course.jpeg" />
            <div class="newsCaption px-4">
              <div
                class="d-flex align-items-center justify-content-between cnt-title"
              >
                <h3 class="newsCaption-title text-white m-0">Guest FAQ & Policies</h3>
                <i class="fas fa-arrow-alt-circle-right"></i>
              </div>
              <div class="newsCaption-content d-flex">
                <p class="col-10 py-3 px-0">Click here to learn more about our FAQs and policies.</p>
              </div>
            </div>
            <span class="overlay"></span>
          </figure>
        </a>
      </div>
  </div>
</div>
