<div class="container">
    <div class="row">
        <div class="col p-0">
            <mat-form-field color="accent" appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input
                  (dateInput)="OnDateChange($event.value)"
                  matInput
                  [matDatepicker]="picker1"
                />
                <mat-datepicker-toggle matSuffix [for]="picker1"> </mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
        </div>
    </div>
    <div *ngIf="showBaySelect" class="row">
        <div class="col p-0">
            <p>Please select a bay to see available time slots:</p>
            <select #bays class="form-select" (change)="onBayChange(bays.value)" aria-label="Bay selection">
                <option default value="">Pick a bay</option>
                <option value="1">Bay 1</option>
                <option value="2">Bay 2</option>
              </select>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <div
                *ngIf="!isLoading"
                class="row"
                role="group"
                aria-label="Basic example"
                
            >
                <!-- <button
                *ngFor="let timeslot of availableTimeslots"
                type="button"
                class="btn btn-secondary time-btn"
                (click)="onSubmit(timeslot)"
                >
                {{ timeslot.startTime }}
                </button> -->
                <div class="col-2" *ngFor="let timeslot of availableTimeslots">
                    <button
                    type="button"
                    class="btn btn-success"
                    (click)="openConfirmationDialog(timeslot)"
                    >
                    {{ timeslot.startTime }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
