<header class="masthead">
  <div class="">
    <div class="masthead-heading text-uppercase"></div>
    <!-- <a class="btn btn-primary btn-xl text-uppercase" href="#">Discover more</a> -->
  </div>
</header>

<div id="" class="container">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <h1>Membership</h1>
      <h3>Private Club Homewood, Alabama</h3>
      <p>
        Pinhigh Golf Society offers a spirit of friendship and community that
        makes everyone feel welcome.  As a private indoor club, we are open to
        individual and corporate memberships.  Whether a recreational golfer or
        a tournament player, you'll love to call Pinhigh Golf Society home. 
        Many of our members live in the area and have club memberships at
        various local courses. But everyone agrees, no matter how much time you
        play at your traditional clubs, you always feel at home at the Pinhigh
        Golf Society.  And at the end of the day, our members can relax and
        enjoy the comforts of our indoor club where both relationships and golf
        are bettered.
      </p>
      <p>
        The Pinhigh Golf Society provides an exceptional experience for members
        and their guests.  With outstanding amenities and the opportunity to
        meet new players at your skill level and make new friends.  Have fun
        while playing in an air-conditioned state-of-the-art sports
        facility.  You'll feel what makes us special the moment you walk in the
        door.  All skill levels and members 19 and older welcomed.
      </p>
      <h3>Individual Membership</h3>
      <ul>
        <li>$1,650 Initiation Fee</li>
        <li>$150 Monthly Dues</li>
        <li>$40 Guest Fee (limit 3/month per guest)</li>
      </ul>
      <h3>Corporate Membership</h3>
      <p>
        We will offer a limited quantity of corporate memberships that are
        individually priced out based on the businesses’ size, persons use and
        expectation of use at Pinhigh Golf Society.
      </p>
      <p><a class="abut" routerLink="/payment">Join Now!</a></p>
      <div class="py-5">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="train-tab"
              data-bs-toggle="tab"
              data-bs-target="#train-tab-pane"
              type="button"
              role="tab"
              aria-controls="train-tab-pane"
              aria-selected="true"
            >
              Train
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="practice-tab"
              data-bs-toggle="tab"
              data-bs-target="#practice-tab-pane"
              type="button"
              role="tab"
              aria-controls="practice-tab-pane"
              aria-selected="false"
            >
              Practice
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="play-tab"
              data-bs-toggle="tab"
              data-bs-target="#play-tab-pane"
              type="button"
              role="tab"
              aria-controls="play-tab-pane"
              aria-selected="false"
            >
              Play
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="community-tab"
              data-bs-toggle="tab"
              data-bs-target="#community-tab-pane"
              type="button"
              role="tab"
              aria-controls="community-tab-pane"
              aria-selected="false"
            >
              Community
            </button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="train-tab-pane"
            role="tabpanel"
            aria-labelledby="train-tab"
            tabindex="0"
          >
            <p>
              Challenge and strengthen your body with our state-of-the-art
              simulators that can help you to both strengthen and perfect your
              golf game.
            </p>
          </div>
          <div
            class="tab-pane fade"
            id="practice-tab-pane"
            role="tabpanel"
            aria-labelledby="practice-tab"
            tabindex="0"
          >
            <p>
              Utilize our facilities features three top of the line simulator
              bays and you can work to perfect your short game on our Puttview
              putting green.
            </p>
          </div>
          <div
            class="tab-pane fade"
            id="play-tab-pane"
            role="tabpanel"
            aria-labelledby="play-tab"
            tabindex="0"
          >
            <p>
              Pebble Hurst golf society provides an indoor space for you to
              develop your technique, experience playing on courses from around
              the country, and comfortably enjoy the game of golf.
            </p>
          </div>
          <div
            class="tab-pane fade"
            id="community-tab-pane"
            role="tabpanel"
            aria-labelledby="community-tab"
            tabindex="0"
          >
            <p>
              At Pebble Hurst golf society we value community. With golf being a
              individualistic sport, the society provides the culture and
              relationship building fundamentals that golfers desire.
            </p>
          </div>
        </div>
      </div>

      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item mb-2">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              Have Questions About Membership?
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <p>
                We would love to answer all your questions about what membership
                looks like at Pinhigh Golf Society . For any membership
                inquiries, email us at
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item mb-2">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo"
              aria-expanded="false"
              aria-controls="flush-collapseTwo"
            >
              Guest FAQ & Policies
            </button>
          </h2>
          <div
            id="flush-collapseTwo"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <p>
                The Pinhigh Golf Society has adopted the following rules of
                conduct for all members. These rules are applicable to all
                members and guests. They are meant to insure that all members
                and guests achieve the maximum enjoyment from the use of the
                club’s amenities. Violations of these rules will subject the
                member to disciplinary action as determined to be appropriate by
                the disciplinary committee or management.
              </p>
              <h3>General Conduct and Rules Enforcement&nbsp;</h3>
              <ul>
                <li>
                  The Society’s Professional Staff has the authority to
                  implement and execute relating to all aspects of the golf
                  simulators, including but not limited to starting times,
                  groupings, enforcement of policies and rules of conduct. All
                  members and guests shall be courteous to all staff, members,
                  and guests.&nbsp;
                </li>
              </ul>
              <hr />
              <h3>Registration and Commencement of Play&nbsp;</h3>
              <p>
                The Rules listed below have been established to assist in fair
                and orderly access to starting times and to provide for an
                appropriate pace of of reservation times.&nbsp;
              </p>
              <ul>
                <li>
                  General Reservations for Bay Reservations are available Monday
                  through Saturday beginning at 8am and ending play by 9pm.
                  Sunday Tee Times are available beginning at 10am and ending
                  play by 6pm. Play is based upon a first come, first served
                  reservation system.
                </li>
              </ul>
              <ul>
                <li>
                  All members must sign in at the welcome desk before playing in
                  their reserved simulator bay.&nbsp;
                </li>
                <li>
                  One bay may be reserved per member, per session time, with no
                  two or more bays to be reserved at the same period of time
                  without additional fees. &nbsp;
                </li>
                <li>
                  Limit of 4 players per bay reservation unless approved by the
                  Pinhigh Golf Society staff.&nbsp;
                </li>
                <li>
                  Any individual or group who happens to not reserve a bay is
                  allowed to play as a first come, first served basis until the
                  next reserved player(s) time.
                </li>
                <li>
                  All bay use requires a Check-in by the member at the time of
                  play.&nbsp;
                </li>
              </ul>
              <hr />
              <h3>Guest Play&nbsp;</h3>
              <ul>
                <li>
                  All guests must be checked-in by a member. Guests may pay
                  their own fees via credit card or charge member statement, if
                  approved by the member. The member must be present with the
                  guest at all times.&nbsp;
                </li>
                <li>Members may have up to 3 guests at a time.&nbsp;</li>
                <li>
                  Members can bring individual guests up to 3 times per month
                  per individual.&nbsp;
                </li>
                <li>
                  A guest may only play up to 24 times total in a calendar year,
                  regardless if they play with different members.&nbsp;
                </li>
              </ul>
              <ul>
                <hr />
                <li>
                  Guests may only use the simulator bays and practice areas if
                  they are with a member and they may pay a $40 guest fee for
                  the day.&nbsp;
                </li>
              </ul>
              <hr />
              <h3>Junior Play&nbsp;</h3>
              <ul>
                <li>
                  Junior golfers (less than 19 years of age) must be accompanied
                  by an adult member and may not play after 4:30pm on weekdays.
                  Weekends allow junior golfers (age 12 and above) to play
                  accompanied by an adult member.
                </li>
                <li>
                  Exceptions to junior play may be allowed by Pinhigh Golf
                  Society Staff approval.&nbsp;
                </li>
              </ul>
              <hr />
              <h3>General Policies&nbsp;</h3>
              <ul>
                <li>
                  Dogs or any other animals are not allowed on Club
                  property.&nbsp;
                </li>
                <li>
                  Golf club throwing, rude or obnoxious behavior, abuse of other
                  members, guests or staff, or any other similar misconduct is
                  not permitted anywhere on Club property.&nbsp;
                </li>
                <li>
                  If you observe a member violating any rules while on property,
                  please contact the Pinhigh Golf Society Staff and advise the
                  person in charge of the issue to be addressed. Do not confront
                  another member yourself, ask a club staff member to do
                  it.&nbsp;
                </li>
                <li>
                  Any member breaking or damaging or removing any property of
                  the Club from the Club premises will be asked to pay the cost
                  thereof, or to replace it.&nbsp;
                </li>
                <li>
                  Smoking is prohibited inside Pinhigh Golf Society.&nbsp;
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
