.container{
    margin: 5rem auto;
}

p {
    margin: 0 0 1.88em;
}

.abut, .table-button td a {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    color: #000;
    background-color: #e4cd9e;
    background-image: none;
    border: 2px solid #e4cd9e;
    border-radius: 0;
    padding: 21px 30px 20px;
    margin: 0;
    display: inline-block;
    width: auto;
    cursor: pointer;
    transition: all .3s ease-in-out;
}


.accordion-item {
    border: 2px solid #e4cd9e !important;
}

.accordion-item:not(.collapsed) {
    border: none !important;
}


.accordion-button {
    border: 2px solid #e4cd9e !important;
    font-size: 2rem;
}

.accordion-button:not(.collapsed){
    background-color: inherit;
    border: none;
    border-bottom: 2px solid #e4cd9e !important;
}

.accordion-button:focus {
    z-index: 3;
    border-color: inherit;
    outline: 0;
    box-shadow: none;
}

.accordion-button:not(.collapsed){
    background: #e4cd9e !important;
    border: 2px solid #e4cd9e !important;
}

.nav-tabs{
    background-color: #e4cd9e;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.tab-content{
    border-left: 2px solid #e4cd9e;
    border-right: 2px solid #e4cd9e;
    border-bottom: 2px solid #e4cd9e;
    padding: 10px;
}

.nav-link{
    color: black;
}