.container{
    margin: 5rem auto;
}

p {
    margin: 0 0 1.88em;
}

.accordion-item {
    border: 2px solid #e4cd9e !important;
}

.accordion-item:not(.collapsed) {
    border: none !important;
}


.accordion-button {
    border: 2px solid #e4cd9e !important;
    font-size: 2rem;
}

.accordion-button:not(.collapsed){
    background: #e4cd9e !important;
    border: 2px solid #e4cd9e !important;
}

.accordion-button:focus {
    z-index: 3;
    border-color: inherit;
    outline: 0;
    box-shadow: none;
}