<header class="masthead">
  <div class="">
    <div class="masthead-heading text-uppercase"></div>
    <!-- <a class="btn btn-primary btn-xl text-uppercase" href="#">Discover more</a> -->
  </div>
</header>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <h1>Guest FAQ & Policies</h1>
      <h3>FAQ</h3>
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item mb-2">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              How do you book a tee time?
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <p>
                Members can book online, <a routerLink="/book">HERE</a> or you
                can call and book with one of our team members on the phone.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item mb-2">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo"
              aria-expanded="false"
              aria-controls="flush-collapseTwo"
            >
              How long does a round typically take?
            </button>
          </h2>
          <div
            id="flush-collapseTwo"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <p>
                We recommend 30 minutes per person for 9 holes, One hour per
                person for 18. So if you have a foursome you could play 9 holes
                in two hours.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item mb-2">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree"
              aria-expanded="false"
              aria-controls="flush-collapseThree"
            >
              What is considered appropriate attire?
            </button>
          </h2>
          <div
            id="flush-collapseThree"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <p>
                We are friendly to all types of attire! Golf attire and athletic
                wear are both welcomed.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item mb-2">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFour"
              aria-expanded="false"
              aria-controls="flush-collapseFour"
            >
              Should I wear golf shoes?
            </button>
          </h2>
          <div
            id="flush-collapseFour"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <p>Golf shoes are acceptable but not necessary.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item mb-2">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFive"
              aria-expanded="false"
              aria-controls="flush-collapseFive"
            >
              Do I bring my own golf clubs?
            </button>
          </h2>
          <div
            id="flush-collapseFive"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <p>Yes, please bring your usual set or desired clubs for play.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item mb-2">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseSix"
              aria-expanded="false"
              aria-controls="flush-collapseSix"
            >
              Can I only come if I am golfing?
            </button>
          </h2>
          <div
            id="flush-collapseSix"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <p>
                Nope! Our facility is open to members and welcomes members to
                enjoy the use of golf simulators and the Puttview putting green,
                enjoy a drink, use the lounge area for remote work, entertain
                invited guest, play around with shuffleboard and cards, or
                simply sit back and watch a little golf on TV.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item mb-2">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseSeven"
              aria-expanded="false"
              aria-controls="flush-collapseSeven"
            >
              Can I bring a guest?
            </button>
          </h2>
          <div
            id="flush-collapseSeven"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <p>
                Guest are allowed to accompany members. Please see our guest
                policies page for details.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div style="margin-top: 30px;">
        <h3>Club Policies</h3>
        <p>
          The Pinhigh Golf Society has adopted the following rules of conduct for
          all members. These rules are applicable to all members and guests. They
          are meant to ensure that all members and guests achieve the maximum
          enjoyment from the use of the club’s amenities. Violations of these
          rules will subject the member to disciplinary action as determined to be
          appropriate by the disciplinary committee or management.
        </p>
      </div>
      <div class="accordion accordion-flush" id="accordionFlushTwo">
        <div class="accordion-item mb-2">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-two-collapseOne"
              aria-expanded="false"
              aria-controls="flush-two-collapseOne"
            >
              General Conduct and Rules Enforcement
            </button>
          </h2>
          <div
            id="flush-two-collapseOne"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushTwo"
          >
            <div class="accordion-body">
              <p>
                The Society’s Professional Staff has the authority to implement
                and execute relating to all aspects of the golf simulators,
                including but not limited to starting times, groupings,
                enforcement of policies and rules of conduct. All members and
                guests shall be courteous to all staff, members, and guests.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item mb-2">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-two-collapseTwo"
              aria-expanded="false"
              aria-controls="flush-two-collapseTwo"
            >
              Registration and Commencement of Play
            </button>
          </h2>
          <div
            id="flush-two-collapseTwo"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushTwo"
          >
            <div class="accordion-body">
              <p>
                The Rules listed below have been established to assist in fair
                and orderly access to starting times and to provide for an
                appropriate pace of of reservation times.
              </p>
              <ul>
                <li>
                  General Reservations for Bay Reservations are available Monday
                  through Saturday beginning at 8am and ending play by 9pm.
                  Sunday Tee Times are available beginning at 10am and ending
                  play by 6pm. Play is based upon a first come, first served
                  reservation system.
                </li>
                <li>
                  All members must sign in at the welcome desk before playing in
                  their reserved simulator bay.
                </li>
                <li>
                  One bay may be reserved per member, per session time, with no
                  two or more bays to be reserved at the same period of time
                  without additional fees.
                </li>
                <li>
                  Limit of 4 players per bay reservation unless approved by the
                  Pinhigh Golf Society staff.
                </li>
                <li>
                  Any individual or group who happens to not reserve a bay is
                  allowed to play as a first come, first served basis until the
                  next reserved player(s) time.
                </li>
                <li>
                  All bay use requires a Check-in by the member at the time of
                  play.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item mb-2">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-two-collapseThree"
              aria-expanded="false"
              aria-controls="flush-two-collapseThree"
            >
              Guest Play
            </button>
          </h2>
          <div
            id="flush-two-collapseThree"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushTwo"
          >
            <div class="accordion-body">
              <ul>
                <li>
                  All guests must be checked-in by a member. Guests may pay
                  their own fees via credit card or charge member statement, if
                  approved by the member. The member must be present with the
                  guest at all times.
                </li>
                <li>Members may have up to 3 guests at a time</li>
                <li>
                  Members can bring individual guests up to 3 times per month
                  per individual.
                </li>
                <li>
                  A guest may only play up to 24 times total in a calendar year,
                  regardless if they play with different members.
                </li>
                <li>
                  Guests may only use the simulator bays and practice areas if
                  they are with a member and they may pay a $40 guest fee for
                  the day.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item mb-2">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-two-collapseFour"
              aria-expanded="false"
              aria-controls="flush-two-collapseFour"
            >
              Junior Play
            </button>
          </h2>
          <div
            id="flush-two-collapseFour"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushTwo"
          >
            <div class="accordion-body">
              <ul>
                <li>
                  Junior golfers (less than 19 years of age) must be accompanied
                  by an adult member and may not play after 4:30pm on weekdays.
                  Weekends allow junior golfers (age 12 and above) to play
                  accompanied by an adult member.
                </li>
                <li>
                  Exceptions to junior play may be allowed by Pinhigh Golf
                  Society Staff approval.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item mb-2">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-two-collapseFive"
              aria-expanded="false"
              aria-controls="flush-two-collapseFive"
            >
              General Policies
            </button>
          </h2>
          <div
            id="flush-two-collapseFive"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushTwo"
          >
            <div class="accordion-body">
              <ul>
                <li>
                  Dogs or any other animals are not allowed on Club property.
                </li>
                <li>
                  Golf club throwing, rude or obnoxious behavior, abuse of other
                  members, guests or staff, or any other similar misconduct is
                  not permitted anywhere on Club property.
                </li>
                <li>
                  If you observe a member violating any rules while on property,
                  please contact the Pinhigh Golf Society Staff and advise the
                  person in charge of the issue to be addressed. Do not confront
                  another member yourself, ask a club staff member to do it.
                </li>
                <li>
                  Any member breaking or damaging or removing any property of
                  the Club from the Club premises will be asked to pay the cost
                  thereof, or to replace it.
                </li>
                <li>Smoking is prohibited inside Pinhigh Golf Society.</li>
                <li>
                  Memberships are held by individuals and do not include family
                  members. Family members are treated as guests. Exceptions are
                  to be allowed strictly by permission and approval of the
                  Pinhigh Golf Society Staff only.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
